@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

@font-face {
    font-family: "Archia";
    src: url("./assets/fonts/archia/archia-regular-webfont.ttf")
}

@font-face {
    font-family: "digit";
    src: url("./assets/fonts/01-digit/01\ Digit.ttf")
}
@font-face {
    font-family: "Alfa Slab One";
    src: url("./assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf")
}
@font-face {
    font-family: "arcadeclassic";
    src: url("./assets/fonts/arcadeclassic/ARCADECLASSIC.TTF")
}
@font-face {
    font-family: "AudioWide";
    src: url("./assets/fonts/Audiowide/Audiowide-Regular.ttf")
}
@font-face {
    font-family: "Bangers";
    src: url("./assets/fonts/Bangers/Bangers-Regular.ttf")
}
@font-face {
    font-family: "Black Ops One";
    src: url("./assets/fonts/Black_Ops_One/BlackOpsOne-Regular.ttf")
}
@font-face {
    font-family: "bubblebath";
    src: url("./assets/fonts/bubblebath/BUBBLEBATH.ttf")
}
@font-face {
    font-family: "Cabin Sketch";
    src: url("./assets/fonts/Cabin_Sketch/CabinSketch-Regular.ttf")
}
@font-face {
    font-family: "Caveat";
    src: url("./assets/fonts/Caveat/Caveat-Regular.ttf")
}
@font-face {
    font-family: "Disposable Droid";
    src: url("./assets/fonts/disposabledroid-bb/DisposableDroidBB.ttf")
}
@font-face {
    font-family: "Dotty";
    src: url("./assets/fonts/dotty/dotty/dotty.ttf")
}
@font-face {
    font-family: "Gochi Hand";
    src: url("./assets/fonts/Gochi_Hand/GochiHand-Regular.ttf")
}
@font-face {
    font-family: "joystix";
    src: url("./assets/fonts/joystix/joystix\ monospace.ttf")
}
@font-face {
    font-family: "luckiest guy";
    src: url("./assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf")
}
@font-face {
    font-family: "monoton";
    src: url("./assets/fonts/Monoton/Monoton-Regular.ttf")
}
@font-face {
    font-family: "Oxanium";
    src: url("./assets/fonts/Oxanium/Oxanium-Regular.ttf")
}
@font-face {
    font-family: "Pacifio";
    src: url("./assets/fonts/Pacifico/Pacifico-Regular.ttf")
}
@font-face {
    font-family: "pix-pixel";
    src: url("./assets/fonts/pix-pixelfjverdana12pt/PixelFJVerdana12pt.ttf")
}
@font-face {
    font-family: "pixel";
    src: url("./assets/fonts/pixel/Pixel.ttf")
}
@font-face {
    font-family: "Press Start";
    src: url("./assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf")
}
@font-face {
    font-family: "Sayso chich";
    src: url("./assets/fonts/sayso-chic/sayso\ chic.ttf")
}
@font-face {
    font-family: "Sfpixelate";
    src: url("./assets/fonts/sf-pixelate/TrueType/SFPixelate.ttf")
}
@font-face {
    font-family: "Subway Ticker";
    src: url("./assets/fonts/subway-ticker/SUBWT___.ttf")
}

@font-face {
    font-family: "Cascadia Code";
    src: url('./assets/fonts/cascadia-code/Cascadia.ttf');
}

@font-face {
    font-family: "Comfortaa";
    src: url('./assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: "Courier Prime";
    src: url('./assets/fonts/Courier_Prime/CourierPrime-Regular.ttf');
}

@font-face {
    font-family: "DM Mono";
    src: url('./assets/fonts/DM_Mono/DMMono-Medium.ttf');
}

@font-face {
    font-family: "Fantasque Sans Mono";
    src: url('./assets/fonts/fantasque-sans-mono/fantasquesansmono-regular.otf')
}


@font-face {
    font-family: "Hermit";
    src: url('./assets/fonts/hermit/fonts/Hermit-Regular.otf')
}

@font-face {
    font-family: "Jost";
    src: url('./assets/fonts/Jost/static/Jost-Regular.ttf')
}

@font-face {
    font-family: "Lekton";
    src: url('./assets/fonts/Lekton/Lekton-Regular.ttf')
}

@font-face {
    font-family: "Quarmic Sans";
    src: url('./assets/fonts/Qikki-Reg/Qarmic_sans_Abridged.ttf')
}

@font-face {
    font-family: "Righteous";
    src: url('./assets/fonts/Righteous/Righteous-Regular.ttf')
}

@font-face {
    font-family: "AbeeZee";
    src: url('./assets/fonts/ABeeZee/ABeeZee-Regular.ttf')
}

@font-face {
    font-family: "Minecraft Alt";
    src: url('./assets/fonts/minecrafter/Minecrafter_Alt.ttf')
}

@font-face {
    font-family: "Minecraft Reg";
    src: url('./assets/fonts/minecrafter/Minecrafter_Reg.ttf')
}